.code
{
	border-radius: 5px;

	margin: 0 0.5rem;
	padding: 3px 0.5rem ;

	color: #f8f8f2;
	background: #1d1f21;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	tab-size: 2;
}

.file_list_inner
{
	overflow-y: auto;
	max-height: 300px;
	padding-right: 10px;

	&::-webkit-scrollbar
	{
		width: 10px;
	}

	&::-webkit-scrollbar-track
	{
		background: #2c353b;
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb {
		background: rgb(112, 177, 230);
		border-radius: 10px;
	}
}
